<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SecondPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SecondPage</ion-title>
    </ion-toolbar>
  </ion-header>
  <P>Hi</P>
  <ion-row class="ion-justify-content-center">
    <ion-img src="../../assets/images/MicrosoftTeams-image (1).png" alt="My Image" style="width: 50%; height: auto;"></ion-img> Adjusted styling
  </ion-row>
  <p>Hlo</p>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <ion-img [src]="item.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="openMenu()">
    Show Action Sheet
  </ion-button>
</ion-content>
