<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light"> 

<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="sayHello()" expand="block">Hello</ion-button>
    </ion-row>
    <p>Hi, Bye!</p> 
    <ion-list [inset]="true">
      <ion-item *ngFor="let item of items">
        <ion-label>{{ item.name }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
 
</ion-content>



